/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Satisfy', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Satisfy', cursive;
}
h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.header {
  height: 50vh;
  background-color: #0098b8;
  text-align: center;
  padding: 2%;
  margin: 0 2%;
}
.header h1 {
  padding: 2%;
}
.header img {
  margin: 1% 0;
}
.header div {
  text-align: center;
  border-right: 1px solid white;
}
.bodyDiv .mainContent {
  padding: 2%;
  margin: 0 2%;
  background-color: #BFE6EC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bodyDiv .mainContent div {
  width: 40%;
}
.bodyDiv .mainContent img {
  width: 50%;
  height: 40vh;
  object-fit: cover;
  object-position: 10% 10%;
}
.bodyDiv .inverseContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.bodyDiv .snapshots {
  padding: 2%;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bodyDiv .snapshots img {
  width: 40%;
  max-width: 100%;
}
.team {
  padding-top: 2%;
  text-align: center;
}
.aboutTeam {
  padding: 2%;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.aboutTeam div {
  padding: 2%;
  margin: 0 2%;
  width: 45%;
}
.aboutTeam div:first-child {
  width: 100%;
}
.aboutTeam div img {
  margin: 2% 0;
  width: 30%;
}
.footer {
  padding: 2%;
  margin: 0 2%;
  text-align: center;
  background-color: #BFE6EC;
}
.footer a {
  text-decoration: none;
  color: black;
}
