@keyframes move {
  0% {
    opacity: 0.2;
    transform: rotate(30deg);
  }
  30% {
    opacity: 0.4;
    transform: rotate(90deg);
  }
  60% {
    opacity: 0.8;
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes moveOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Satisfy', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Satisfy', cursive;
}
h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.header {
  background-color: #D6BEE0;
  text-align: center;
  padding: 2%;
  margin: 0 2%;
}
.header h2 {
  padding: 1%;
}
.header img {
  margin: 1% 0;
}
.bodyDiv .mainContent {
  padding: 2%;
  margin: 0 2%;
  background-color: #BFE6ED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .bodyDiv .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.bodyDiv .mainContent div {
  width: 40%;
}
@media (max-width: 500px) {
  .bodyDiv .mainContent div {
    width: 100%;
  }
}
.bodyDiv .mainContent img {
  width: 50%;
  height: 40vh;
  object-fit: cover;
  object-position: 10% 10%;
}
@media (max-width: 500px) {
  .bodyDiv .mainContent img {
    width: 100%;
    margin-bottom: 5%;
  }
}
.bodyDiv .productTagline {
  padding: 2%;
  margin: 0 2%;
  height: 500px;
  background-image: url("../images/tagline.jpg");
  background-size: cover;
  text-align: center;
}
.bodyDiv .productTagline h1 {
  padding: 2%;
}
@media (max-width: 500px) {
  .bodyDiv .productTagline h1 {
    font-size: 3.5rem;
    margin: 2% 0;
  }
}
@media (max-width: 500px) {
  .bodyDiv .productTagline h2 {
    font-size: 2.5rem;
  }
}
.bodyDiv .inverseContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .bodyDiv .inverseContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.bodyDiv .snapshots {
  padding: 2%;
  margin: 0 2%;
}
.bodyDiv .snapshots h3 {
  text-align: center;
}
.bodyDiv .snapshots .snapshotImages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .bodyDiv .snapshots .snapshotImages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.bodyDiv .snapshots .snapshotImages img {
  height: 50vh;
  width: auto;
  max-width: 100%;
  animation-name: move;
  animation-duration: 3s;
}
.bodyDiv .download {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2%;
  margin: 0 2%;
  background-image: url("../images/download.jpg");
  background-size: cover;
  height: 600px;
}
@media (max-width: 500px) {
  .bodyDiv .download {
    align-items: flex-start;
  }
}
.bodyDiv .download img {
  width: 20%;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .bodyDiv .download img {
    width: 30%;
  }
}
.team {
  padding-top: 2%;
  margin: 0 2%;
  text-align: center;
  background-image: url("../images/team.jpg");
  background-size: cover;
  height: 400px;
  color: #EFEEF5;
}
.aboutTeam {
  padding: 2%;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #BFE6ED;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutTeam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.aboutTeam div {
  padding: 2%;
  margin: 0 2%;
  width: 45%;
}
.aboutTeam div:first-child {
  width: 100%;
}
@media (max-width: 500px) {
  .aboutTeam div {
    width: 100%;
    text-align: center;
  }
}
.aboutTeam div img {
  margin: 2% 0;
  width: 30%;
  border-radius: 50%;
}
.aboutTeam div img:hover {
  animation-name: moveOut;
  animation-duration: 3s;
}
.aboutTeam div h3 {
  font-family: 'Lato', sans-serif;
}
.footer {
  padding: 2%;
  margin: 0 2%;
  text-align: center;
  background-color: #D6BEE0;
}
.footer .footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .footer .footerNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.footer .footerNav a {
  text-decoration: none;
  color: black;
  font-size: 2.8rem;
}
@media (max-width: 500px) {
  .footer .footerNav a {
    padding: 1%;
  }
}
.footer .footerSocial {
  padding: 20px 0;
}
.footer .footerSocial p {
  font-family: 'Satisfy', cursive;
  font-size: 2.4rem;
  padding: 0;
}
.footer .footerSocial img {
  width: 5%;
  padding: 5px;
}
@media (max-width: 500px) {
  .footer .footerSocial img {
    width: 7%;
  }
}
.footer .copyright p {
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .footer .copyright p {
    font-size: 1rem;
  }
}
.aboutFooter a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.aboutFooter .footerSocial {
  padding: 0;
}
