.footer {
  padding: 2%;
  margin: 0 2%;
  text-align: center;
  background-color: @main-color;

  a {
    text-decoration: none;
    color: black;
    font-size: 2.8rem;
  }

  img {
    width: 5%;
    padding: 5px;
  }

  .footerNav {
    .custom-layout(row, space-evenly);
    align-items: flex-start;
  }

  .footerSocial {
    padding: 20px 0;
    
    p {
      font-family: @main-font;
      font-size: 2.4rem;
      padding: 0;
    }
    
  }

  .copyright {
    p {
      font-size: 1.6rem;
    }
  }
}

