
.header {
  height: 30vh;
  background-color: teal;
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: seashell;

  h1 {
    padding: 20px;
  }

  i { 
    font-size: 5rem;
  }
  
  button {
    font-size: 2rem;
    padding: 8px;
    font-family: @button-font;
    background-color: purple;
    
  }

}