
.header {
  // height: 45vh;
  background-color: @main-color;
  text-align: center;
  padding: 2%;
  margin: 0 2%;

  h2 {
    padding: 1%;
  }
  
  img {
    margin: 1% 0;
  }
  // i { 
  //   font-size: 5rem;
  // }
  
  // button {
  //   font-size: 2.4rem;
  //   padding: 8px;
  //   margin-top: 10px;
  //   font-family: @button-font;
  //   width: 15%;
  //   height: 7vh;
  //   border-radius: 6%;
  //   background-color: @secondary-color;
  // }

  // div {
  //   position: absolute;
  //   border-right: 2px solid black;
  //   height: 10%;
  //   right: 50%;
  //   top: 33%;
  //   overflow: hidden;
  // }

}