.bodyDiv {
  
  .mainContent { 
    padding: 2%;
    margin: 0 2%;
    background-color: @secondary-color;
    .custom-layout(row, space-between);
    @media @mobile {
      .custom-layout(column, space-between);
    }
    
    div {
      width: 40%;
      @media @mobile {
        width: 100%;
      }
    }
  
    img {
      width: 50%;
      height: 40vh;
      object-fit: cover;
      object-position:10% 10%;
      @media @mobile {
        width: 100%;
        margin-bottom: 5%;
      }
    }
    
  }

  .productTagline {
    padding: 2%;
    margin: 0 2%;
    height: 500px;
    background-image: url("../images/tagline.jpg");
    background-size: cover;
    text-align: center;

    h1 {
      padding: 2%;
      @media @mobile {
        font-size: 3.5rem;
        margin: 2% 0;
      }
    }

    h2 {
      @media @mobile {
        font-size: 2.5rem;
      }
    }
    

  }
  .inverseContent {
    .custom-layout(row-reverse, space-between);
    @media @mobile {
      .custom-layout(column, space-between);
    }
  }

  .snapshots {
    padding: 2%;
    margin: 0 2%;
    
    h3 {
      text-align: center;
      // color: #80C9DB;
    }

    .snapshotImages {
      .custom-layout(row, space-evenly);
      flex-wrap: wrap;
      @media @mobile {
        .custom-layout(column-reverse, center);
        align-items: center;
      }

      div {
        position: relative;
        height: 50vh;
        width: 50%;

        img.top{
          position: absolute;
          left: 0;
          height: 100%;
          animation-name: fadeOutIn;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 2.5s;
          animation-direction: alternate;
        }

        img.bottom{
          position: absolute;
          left: 0;
          height: 100%;
          animation-name: fadeInOut;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 2.5s;
          animation-direction: alternate;
        }
      }
    }
  }

  .download {
    .custom-layout(column, flex-start);
    align-items: flex-end;
    padding: 2%;
    margin: 0 2%;
    background-image: url("../images/download.jpg");
    background-size: cover;
    height: 600px;
    @media @mobile {
      align-items: flex-start;
    }
  

    img {
      width: 20%;
      margin-bottom: 2%;
      @media @mobile {
        width: 30%;
      }
    }
  }
}

.team {
  padding-top: 2%;
  margin: 0 2%;
  text-align: center;
  background-image: url("../images/team.jpg");
  background-size: cover;
  height: 400px;
  color: @white;
}

.aboutTeam {
  padding: 2%;
  margin: 0 2%;
  .custom-layout(row, space-between);
  flex-wrap: wrap;
  background-color: @secondary-color;
  @media @mobile {
    .custom-layout(column, space-between);
  }
  text-align: center;
  div {
    // position: relative;
    padding: 2%;
    margin: 0 2%;
    width: 45%;
    &:first-child {
      width: 100%;
    }
    @media @mobile {
      width: 100%;
      text-align: center;
    }

    img {
      margin: 2% 0;
      width: 30%;
      border-radius: 50%;
      // position: absolute;
      // transition: opacity 1s ease-in-out;

      // #bottom {
      //   &:hover {
      //     opacity: 1;
      //     cursor: pointer;
      //   }
      // }

      &:hover {
        .animation(moveOut, 3s);
      }
      
    }

    h3 {
      font-family: @secondary-font;
    }
    
  }
  
}


