
@header-bg: @teal;
@main-color: @light-lavender;
@secondary-color: @light-blue;
@main-font: 'Satisfy', cursive;
@secondary-font: 'Lato', sans-serif;

@teal: #008080;
@light-lavender: #D6BEE0;
@light-blue: #BFE6ED;
@dark-blue: #0098b8;
@dark-lavender: #AB7ec4; 
@white: #EFEEF5;
@button-font: 'Lato', sans-serif;


//Media Queries
@mobile: ~'(max-width: 500px)';

//Animations
@keyframes move {
  0% {
    opacity:0.2;
    transform: rotate(30deg);
  }
  30% {
    opacity:0.4;
    transform: rotate(90deg);
  }
  60% {
    opacity: 0.8;
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes moveOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}