
@header-bg: @teal;
@main-color: @dark-lavender;
@secondary-color: @light-blue;
@main-font: 'Satisfy', cursive;
@secondary-font: 'Lato', sans-serif;

@teal: #008080;
@light-lavender: #D6BEE0;
@light-blue: #BFE6ED;
@dark-blue: #0098b8;
@dark-lavender: #AB7ec4; 
@button-font: 'Lato', sans-serif;


//Media Queries
@mobile: ~'(max-width: 500px)';
